.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.cell {
  float: left;
  height: 32px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  width: 32px;
  background: #fff;
}

.cell:focus {
  outline: none;
}
